build
.libs
.deps
.dirstamp
pam_qrapp_auth.so
autom4te.cache
ws_constants.h
config.h
config.h.in
aclocal.m4
config.log
stamp-h1
Makefile.in
Makefile
configure
pam_qrapp_auth.la
test-ws_client.c
config.status
libtool